doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <!-- Bootstrap CSS -->
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.js")
        script(src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js")
        script(src='/javascripts/form.js')
        link(rel="stylesheet", href="/css/menu.css")
        link(rel="stylesheet", href="/css/form.css")
        title 社員情報入力
    body
        h1 社員情報修正
        nav
            a(href="/") Home
            a(href="https://www.gmail.com") メール
            a.test(href="#") 交通費請求
            a(href="/viewPay") 給料明細
            a(href="#") Profile
            div.animation.start-home
        .container
            .input-form-background.row
                .input-form.col-md-12.mx-auto 
                    form.validation-form(method='POST' action='/modInfo' novalidate)
                        .row
                            .col-md-6.mb-3
                                label(for='employee_no') 社員番号
                                input#employee_no.form-control.noime(name="employee_no" type="text" placeholder="SN00000" value=emp.employee_no pattern="^(SN|sn)[0-9]{5}" readonly)
                                .invalid-feedback 社員番号を正しく入力してください。
                            .col-md-6.mb-3        
                                label(for='email') E-Mail
                                input#email.form-control(name="email" type="text" value=email readonly)
                        .row
                            .col-md-6.mb-3
                                label(for='department') 部署
                                select#department.custom-select.d-block.w-100(name="department" required)
                                    option(value="")
                                    each row in department
                                        if row.department_no == emp.department
                                            option(value=row.department_no selected) #{row.department_name}
                                        else 
                                            option(value=row.department_no) #{row.department_name}
                                .invalid-feedback 部署を選択してください。
                            .col-md-6.mb-3
                                label(for='birthday') 生年月日
                                input#birthday.form-control(name="birthday" type="date" value=emp.birthday required)
                                .invalid-feedback 生年月日を正しく入力してください。
                        .row
                            .col-md-6.mb-3
                                label(for='phone_home') 電話番号（自宅）
                                input#phone_home.form-control(name="phone_home" type="text" placeholder="0312341234" pattern="^0[0-9]{1,3}[0-9]{2,4}[0-9]{4}$" value=emp.phone_home)
                                .invalid-feedback 電話番号（自宅）を正しく入力してください。
                            .col-md-6.mb-3
                                label(for='phone_cellular') 電話番号（携帯）
                                input#phone_cellular.form-control(name="phone_cellular" type="text" placeholder="09012341234" pattern="^0[789]0[0-9]{4}[0-9]{4}$" value=emp.phone_cellular required)
                                .invalid-feedback 電話番号（携帯）を正しく入力してください。
                        .row 
                            .col-md-3.mb-3
                                label(for='lastname_hanja') 漢字（生）
                                input#lastname_hanja.form-control(name="lastname_hanja" type="text" pattern="^[一-龠]{1,5}$" value=emp.lastname_hanja required)
                                .invalid-feedback 漢字（生）を正しく入力してください。
                            .col-md-9.mb-3
                                label(for='firstname_hanja') 漢字（名）
                                input#firstname_hanja.form-control(name="firstname_hanja" type="text" pattern="^[一-龠]{1,5}" value=emp.firstname_hanja required)
                                .invalid-feedback 漢字（名）を正しく入力してください。
                        .row 
                            .col-md-3.mb-3
                                label(for='lastname_katakana') カタカナ（生）
                                input#lastname_katakana.form-control(name="lastname_katakana" type="text" pattern="^[ァ-ヶー]{1,5}" value=emp.lastname_katakana required)
                                .invalid-feedback カタカナ（生）を正しく入力してください。
                            .col-md-9.mb-3
                                label(for='firstname_katakana') カタカナ（名）
                                input#firstname_katakana.form-control(name="firstname_katakana" type="text" pattern="^[ァ-ヶー]{1,5}" value=emp.firstname_katakana required)
                                .invalid-feedback カタカナ（名）を正しく入力してください。
                        .row 
                            .col-md-3.mb-3
                                label(for='lastname_eng') 英語（生）
                                input#lastname_eng.form-control(name="lastname_eng" type="text" pattern="^[a-zA-Z]{1,15}" value=emp.lastname_eng required)
                                .invalid-feedback 英語（生）を正しく入力してください。
                            .col-md-9.mb-3
                                label(for='firstname_eng') 英語（名）
                                input#firstname_eng.form-control(name="firstname_eng" type="text" pattern="^[a-zA-Z]{1,15}" value=emp.firstname_eng required)
                                .invalid-feedback 英語（名）を正しく入力してください。
                        .row 
                            .col-md-3.mb-3
                                label(for='lastname_kor') ハングル（生）
                                input#lastname_kor.form-control(name="lastname_kor" type="text" pattern="^[ㄱ-ㅎㅏ-ㅣ가-힣]{1,5}" value=emp.lastname_kor required)
                                .invalid-feedback ハングル（生）を正しく入力してください。
                            .col-md-9.mb-3
                                label(for='firstname_kor') ハングル（名）
                                input#firstname_kor.form-control(name="firstname_kor" type="text" pattern="^[ㄱ-ㅎㅏ-ㅣ가-힣]{1,5}" value=emp.firstname_kor required)
                                .invalid-feedback ハングル（名）を正しく入力してください。
                        .mb-3 
                            label(for='position') 職位
                            select#position.custom-select.d-block.w-50(name="position" required)
                                option(value="")
                                each row in position
                                    if row.position_no == emp.position
                                        option(value=row.position_no selected) #{row.position_name}
                                    else 
                                        option(value=row.position_no) #{row.position_name}
                            .invalid-feedback 職位を選択してください。
                        .mb-3 
                            label(for='zipcode') 郵便番号
                            .input-group
                                input#zipcode.form-control.d-block.col-md-6(name="zipcode" type="text" placeholder="123-1234" value=emp.zipcode required)
                                .input-group-append 
                                    button#btnzipcode.input-group-text(type="button") 検索
                                .invalid-feedback 郵便番号を正しく入力してください
                        .mb-3
                            label(for='province') 都道府県
                            input#province.form-control(name="province" type="text" value=emp.province required)
                            .invalid-feedback 都道府県を正しく入力してください。
                        .mb-3
                            label(for='city') 市区町村
                            input#city.form-control(name="city" type="text" value=emp.city required)
                            .invalid-feedback 市区町村を正しく入力してください。
                        .mb-3
                            label(for='street') 番地
                            input#street.form-control(name="street" type="text" value=emp.street required)
                            .invalid-feedback 番地を正しく入力してください。
                        .mb-3
                            label(for='apartment') マンション名及び号室
                            input#apartment.form-control(name="apartment" type="text" value=emp.apartment required)
                            .invalid-feedback マンション名及び号室を正しく入力してください。
                        .row 
                            .col-md-6.mb-3
                                label(for='bank') 銀行名
                                select#bank.custom-select.d-block(name="bank" required)
                                    option(value="")
                                    each row in bank
                                        if row.bank_no == emp.bank
                                            option(value=row.bank_no selected) #{row.bank_name}
                                        else 
                                            option(value=row.bank_no) #{row.bank_name}
                                .invalid-feedback 銀行名を選択してください。
                            .col-md-6.mb-3
                                label(for='point_name') 支店名
                                input#account.form-control(name="point_name" type="text" placeholder="新宿" value=emp.point_name required)
                                .invalid-feedback 支店名を正しく入力してください。
                        .mb-3
                            label(for='account') 口座番号
                            input#province.form-control(name="account" type="text" pattern="^[0-9]{6,8}$" value=emp.account required)
                            .invalid-feedback 口座番号を正しく入力してください。
                        .mb-3
                            label(for='join_date') 入社日
                            input#join_date.form-control.col-md-5(name="join_date" type="date" value=emp.join_date required)
                            .invalid-feedback 入社日を正しく入力してください。
                        hr.mb-4 
                        button.btn.btn-primary.btn-lg.btn-block(type="submit") 修正          
    script(src='/javascripts/post.js')